/* Webfont: SaltedCaramel-Regular */@font-face {
    font-family: 'SaltedCaramel';
    src: url('SaltedCaramel-Regular.eot'); /* IE9 Compat Modes */
    src: url('../../resources/fonts/saltedcaramel/SaltedCaramel-Regular.ttf') format('embedded-opentype'), /* IE6-IE8 */
         url('../../resources/fonts/saltedcaramel/SaltedCaramel-Regular.woff') format('woff'), /* Modern Browsers */
         url('../../resources/fonts/saltedcaramel/SaltedCaramel-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../resources/fonts/saltedcaramel/SaltedCaramel-Regular.svg') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

html {
    position: relative;
    min-height: 100%;
}

body {
font-family: 'Fira Sans', sans-serif;
background: linear-gradient(white, #ffff01);
}

.maincontainer {
  display: flex;
  flex-direction: column;
  max-width: 1144px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 10;
  max-width: 100%;
  height: 4.8rem;
  background-image: url('../../resources/images/background_lines.gif');
  background-repeat: repeat;
  }

.logo_container {
}

.logo_container img {
  padding: 2px 0;
  width: 8.9rem;
  height: auto;
  overflow: hide;
  padding: 2px 0;
  margin right: 10px;
}

.logo_blink_container {
  display: none;
}

.spacer-header {
  width: 62.56rem;
  height: 2.75rem;
}

nav {
  background-color: white;
  height: 2.05rem;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  font-family: "SaltedCaramel";
  font-size: 1.25rem;
  line-height: 1.3rem;
  width: 8.9rem;
  height: 2.05rem;
  text-align: center;

}

.current-page {
  display: block;
  background-color: black;
  color: #ffff01;
  padding: 7px 0;
}

a:link {
  display: block;
  background-color: #ffff01;
  color: black;
  text-decoration: none;
  padding: 6.5px 0;
}

a:hover {
  background-color: white;
  color: black;
}

a:active {
  background-color: black;
  color: #ffff01;
}

a:visited {
  color: black;
}

.banner {
  width: 100%;
  height: auto;
  font-family: "SaltedCaramel";
  font-size: 100px;
  text-align: center;
  background: linear-gradient(white, #ffff01);
  line-height: 276px;
  position: relative;
  top: 4.8rem;
  margin-bottom: 4.56rem;
  /*this compensates for moving banner 4.56rem down to give air to header*/
}

.banner-mini {
  display: none;
}

.banner img{
  max-width: 100%;
  height: auto;
  display: block;
}

.teaser-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1144px;
  margin: 0 auto;
}

.teaser-box {
  display: flex;
  flex-direction: row;
  max-width: 50%;
}

.teaser-image {
  min-width: 50%;
  height: auto;
  overflow: hidden;
}

.teaser-image img {
  max-width: 100%;
  height: auto;
  display: block;

}

.purple-blue {
  background-color: #66669a;
}

.green {
  background-color: #3CB371;
}

.cyan {
  background-color: #01b8c8;
}

.dark-gray {
  background-color: #666666;
}

.beige {
  background-color: #e9df98;
}

.red {
  background-color: #f06c55;
}

.light-gray {
  background-color: #e6e6e6;
}

.ochre {
  background-color: #daca59;
}

.teaser-text {
  padding: 4px 6px;
  color: white;
  font-size: 1rem;
  line-height: 1.6;
}

.gradient-background {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(#ffff01, white);
  padding: 50px 0;
}

.about {
  margin: 0 auto;
  max-width: 53.6rem;
}

.about h1 {
  font-family: "SaltedCaramel";
  font-size: 1.25rem;
  line-height: 1.3rem;
  margin: 0 auto;
}

.about p {
  line-height: 1.6;
  margin: 0 auto;
}

.two-columns {
  column-count: 2;
}

.single-column {
  display: none;
}

.colaborator {
  display: flex;
  flex-direction: row;
}

.colaborator img {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
}

/*catalog classes*/
.catalog_headline {
  background-color: white;
  max-width: 100%;
  height: 4.56rem;
  background-image: url('../../resources/images/background_lines_beige.png');
  background-repeat: repeat;
}

.catalog_headline h1 {
  font-family: "SaltedCaramel";
  font-size: 1.2rem;
  line-height: 1.5;
  line-height: 7rem;
  padding-left: .7rem
}

.catalog_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background: linear-gradient(white, #ffff01);
  background-image: url('../../resources/images/background_lines_beige.png');
  background-repeat: repeat;
}

.catalog-item {
  display: block;
  width: 25%;
  border-right: solid 1px white;
  background-color: #e6e6e6;
}

.catalog-item img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

h2 {
  display: block;
  padding: 5px;
  position: relative;
  top: -5px;
  line-height: 1.3rem;
  background-color: #daca59;
}

.italic {
  font-style: italic;
}

h3 {
  display: block;
  background-color: black;
  color: white;
  font-size: .8rem;
  padding-top: 8px;
  padding-left: 6px;
  padding-bottom: 6px;
  position: relative;
  top:-5px;
  line-height: 1.2rem;
  letter-spacing: .5px;
}

.catalog-item p {
  padding: 7px;
  color: #666666;
  font-size: .9rem;
  line-height: 1.4rem;
}

.dots {
  color: white;
  letter-spacing: 3px;
  padding-left: 10px;
}

.price {
 font-weight: bold;
 color: #666666;
 font-size: .9rem;
 padding: .5rem 8px;
 letter-spacing: 1px;
}

.regular {
  font-weight: normal;
}

.cart a:link {
  background-color: #e6e6e6;
  color: #01b8c8;
  font-weight: bold;
  text-decoration: none;
  padding-top: 10px;
  font-size: .8rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.cart a:hover {
  color: black;
  background-color: none;
}

.cart a:active {
  color: #01b8c8;
}

.cart a:visited {
  color: #01b8c8;
}

.more-info a:link {
  color: #666666;
  padding-left: 8px;
  font-size: .8rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  background-color: #e6e6e6;
  line-height: 1.2rem;
}
/*end of catalog classes*/

.pictographs {
  display: flex;
  width: 1144px;
  margin: 0 auto;
  justify-content: space-between;
  height: 12rem;
  background-image: url('../../resources/images/background_lines.gif');
  background-repeat: repeat;
}

.pictographs img {
  opacity: 0.8;
  max-width: 100%;
  height: auto;
  padding: 2rem;
  margin-bottom: 2rem;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  background-color: black;
  position: absolute;
    left: 0;
    bottom: 1;
    width: 100%;
  height: 6rem;
}

footer nav {
  background-color: black;
}

footer nav ul a:link {
  display: block;
  background-color: black;
  color: #ffff01;
  text-decoration: none;
  padding: 7px 0;
}

footer a:hover {
  background-color: #666666;
  color: #ffff01;
}

footer a:active {
  background-color: black;
  color: #ffff01;
}

footer a:visited {
  color: white;
}

.a2a_default_style {
  min-width: 25%;
  position: relative;
  top: 2px;
}

.a2a_default_style a {
  background-color: black;
}

footer .copyright {
  display: block;
  font-family: "SaltedCaramel";
  color: white;
  font-size: 1.25rem;
  line-height: 1.3rem;
  margin-right: 1rem;
}

/*media queries for tablet… if*/
@media only screen
and (min-width: 586px)
and (max-width: 702px) {

  .catalog_container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog-item {
    min-width: 50%;
  }

  .catalog-image-box {
    background: #b2b2b2;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .catalog-image-box img {
    display: block;
    margin: 0 auto;
  }

  .pictographs img {
    display: none;
  }

}


/*media queries for android*/
@media only screen
and (min-width: 300px)
and (max-width: 586px) {

  .maincontainer {
    max-width: 586px;
    overflow: hidden;
  }

  header {
    max-width: 586px;
    height: 4.56rem;
  }

  .logo_container {
  display: none;
  }

  .logo_blink_container {
    display: block;
  }

  .logo_blink_container img {
    width: 4rem;
    position: relative;
    top: .7rem;
    left: .28rem;
    margin-right: .8rem;
  }

  nav {
    background-color: white;
    height: 2rem;
    position: relative;
    top: -3px;
  }

  nav ul li {
    font-size: 1rem;
    width: 5.5rem;
    height: 1rem;
    position: relative;
    top: -1px;
  }

  .current-page {
    display: block;
    background-color: black;
    height: 1.85rem;
  }

  .banner {
    display: none;
  }

  .banner-mini {
    display: flex;
    width: 100%;
    height: auto;
    font-family: "SaltedCaramel";
    background: linear-gradient(white, #ffff01);
    position: relative;
    top: 4.2rem;
    margin-bottom: 4rem;
    justify-content: center;
   /*this compensates for moving banner 4.56rem down to give air to header*/
  }

  .carousel
  .slide {
    min-width: 100%;
  }

  .teaser-container {
    flex-direction: column;
  }

  .teaser-box {
    display: flex;
    flex-direction: row;
    min-width: 100%;
  }

  .two-columns {
    display: none;
  }

  .single-column {
    display: block;
  }

  .about {
    margin: 0 5px;
  }

  .teaser-text {
    font-size: .8rem;
    line-height: 1.4;
  }

  .colaborator img {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1rem;
  }

  .catalog_container {
    flex-direction: column;
  }

  .catalog-item {
    min-width: 100%;
    border-right: none;
    border-bottom: solid 1px white;
  }

  .catalog-image-box {
    background: #b2b2b2;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .catalog-image-box img {
    display: block;
    margin: 0 auto;
  }

  .pictographs {
    max-width: 586px;
  }

  .pictographs img {
    display: none;
  }

  footer {
    max-width: 586px;
    height: 5rem;
  }

.a2a_default_style a {
    width: 20%;
    height: auto;
  }

 }
.a2a_kit_size_32 {
  width: 30%;
}

.a2a_default_style {
  width: 10%;
}

}
